@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.nav-menu{
    background: #FFF;
background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(23, 145, 200, 1) 50%, rgba(23, 145, 200, 1) 100%);
}

.menu-list li ul li {
    display: none;
}
/* .menu-list li label::after {
  content: "";
  background-image: url("/images/icons/arrow-right.svg");
  font-size: 20px;
  margin-left: 10px;
  transition: transform 1s ease-in-out;
} */

.menu-drawer {
    height: calc(100% - 99px);
    top: 99px;
}
.menu-list li:has(input:checked) ul li {
    display: block; /* Show when input is checked */
}

.sub-menu-list li::before {
    content: '';
    display: inline-block; /* Needed to show background image */
    width: 16px;
    height: 16px;
    background-image: url('../../public/images/icons/arrow-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* margin-left: 10px; */
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
    transform: rotate(35deg);
}
.sub-menu-list li:hover::before {
    transform: rotate(0deg);
}
.nav-button {
    background-color: #ad6200;
    cursor: pointer;
}
